* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* estilização do header */
header {
    display: flex;
    width: 100vw;
    height: 150px;
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-color: #0c9248;
    color: #0c9248;
    justify-content: space-around;
    align-items: center;
}

header>h1 {
    font-size: 50px;
    font-family: 'PT Serif', serif;
   }

    header>img {
        width: 170px;
        height: 100px;

    }

img {
    width: 100px;
    height: 100px;
}

.container-botoes-navegacao {

    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    border-color: #0c9248;
    color: #0c9248;
}

.container-botoes-navegacao:hover {
    background-color: #0c9248;
    color: white;
}

/* estilização do footer */
footer {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #0c9248;
    color: lightgray;
    height: 100px;
    margin-top: 20px;
}
    
footer > p {
    font-size: 25px;
}

.container-navegacao-footer {
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: 23px;
}

.container-icones-footer {
    width: 30px;
    height: 30px;
    margin: 10px;
}

h1 {
    color:#0c9248;
    text-align: center;
    margin: 50px;
}

h2,
p {
    /* estilização dos títulos */
    display: flex;
    align-items: center;
    color: #0c9248
    font-size: 20px;
    font-family: 'PT Serif', serif;
    display: inline-block;
}



/* Estilização section */
section {
    margin: 50px 200px 50px;
    width: auto;
    height: auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    border-color: #0c9248;
    color: #0c9248;
    text-align: center;
    font-size: larger;

}

/* Estilização imagens */
img {
    width: 600px;
    height: 400px;
}

aside {
    text-align: center;
    margin: 50px 200px 50px;
}

