body {background-color: rgb(161, 161, 243);}
h1,h2,h3 {color: cornsilk;} 
p{color: darkblue; font-size:large ; font-family: cursive;}
p {   text-align: center; border: solid;}
h1,h2 {text-align: center;}
div { text-align: center;}